.cartPartsContainer{
    display: inline-block;
    width: 60%;
    margin: 2.5% 2%;
    padding: 1%;
    box-sizing: border-box;
    border-top: lightgray 1px solid;
}

.cartPartsContainer > span{
    font-size: 2em;
    font-weight: bold;
}

.cartPartsContainer::-webkit-scrollbar {
    display: none;
}

.cartPart{
    width: 98%;
    height: 15%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    margin: 2% 0;
    box-shadow: 5px 10px 18px #888888;
    
}

.cartTotal{
    display: inline-block;
    font-size: 2em;
    width: 28%;
    height: 70%;
    margin: 2% 2.5%;
    background-color: white;
    border: 1px solid;
    padding: 0;
    vertical-align: top;
}

.cartTitle{
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
}

.cartData{
    padding: 8%;
}

.cartData span{
    float: right;
}

.cartData a{
    float: right;
}

.emptyMessage{
    text-align: center;
    margin-top: 10%;
    font-size: 3em;
}

.emptyMessage img{
    width: 40%;
}

.emptyMessage p{
    margin: 5% 0;
    font-weight: bold;
}


.cartMessageContainer{
    position: absolute;
    right: 2.3%;
    top: 5.9%;
    width: 19vmin;
    height: 1%;
    background-color: lightgrey;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    transition: all 0.5s ease-in;
    padding: 2%;
    font-size: 1.5em;
    font-weight: bold;
    color: #193282;
    opacity: 0;
}

.cartMessageContainer.top:before {
    top: -21%;
    bottom: auto;
    left: auto;
    right: 5%;
    border-width: 0 1.3em 1.3em;
}
.cartMessageContainer:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: lightgrey transparent;
    display: block;
}


.show_block{
    opacity: 1;
}


