.login-dropdown {
    position: relative;
    display: inline-block;
    width: 15vw;
}

.login-icon{
    height: 4vh;
}

.login-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

.login-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.login-dropdown-content a:hover {
    color: rgb(207, 0, 0)
}

.login-dropdown:hover .login-dropdown-content {
    display: block;
}