.statusUpdateDropdown {
    position: absolute;
    bottom: 1%;
    width: 100%;
    height: 20%;
/*    text-align: left;
    padding-left: 5%;*/
}

.statusUpdateDropdown select {
   font-size: 1rem;
   padding: 0.2rem;
   position: absolute;
   right: 0.5rem;
}


