.statusUpdateDropdown {
    position: absolute;
    /*color: rgb(0, 0, 0);*/
    /*float: right;*/
    bottom: 1%;
    /*right: 1%;*/
    width: 100%;
    height: 20%;
    text-align: left;
    padding-left: 5%;
    /*border: 1px dashed green;*/
}
/*.statusUpdateDropdown .changeStatus{
   display:  inline-block;
}*/

.statusUpdateDropdown select {
   /*display:  inline-block;*/
   font-size: 1rem;
   padding: 0.2rem;
   position: absolute;
   right: 0.5rem;

}
/* .confirmButton, .cancelButton{
    position: absolute;
    bottom: -8%;
    height: 23%;
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
} */

/* .confirmButton {
    background-color: rgb(0, 235, 0);
    right: 50%;
}
.cancelButton{
    background-color: rgb(255, 72, 72); 
    right: 5%;
} */

