.userPartsList {
    margin: 1% auto;
    width: 100%;
    height: 100%;
}

.userPartsList::-webkit-scrollbar {
    display: none;
}

.dashboardPart{
    display: inline-block; 
    position: relative;  
    vertical-align: middle;
    margin-top: 2%;
    text-align: left;
    width: 100%;
    line-height: 15vmin;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    font-size: 0;
    padding: 0;
}

.dashboardPart:hover{    
    box-shadow: 1px 3px 3px #888888;
}
.dashboardPart > div{
    font-size: 1.1rem;
    box-sizing: border-box;
}

.listingColumns {
    height: 3rem;
    width: 100%;
    margin-top: 3vh;
    border-bottom: 2px solid #888888;
}
.listingColumns > div {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}


.title-mainImage{
    margin: 0;
    width: 10%;
}
.title-listingId {
    width: 10%;
    vertical-align: middle;
}
.title-partNumber {
    width: 15%;
    padding: 0 5px;
}
.title-brand{
    width: 7%; 
}
.title-partName {
    width: 17.5%;
}
.title-fitment{
    width: 17.5%;
}
.title-price{
    width: 10%;
}
.title-status{
    width: 10%;
}
 .dashboardPart > div, 
 .dashboardPart > img {
    display: inline-block;
    text-align: center;
}
.mainImage{
    margin: 0;
    max-height: 15vmin;
    width: 10%;
    height: auto;
    padding: 0;
}

.listingId {
    width: 10%;
}
.partNumber {
    float: none;
    width: 15%; 
    word-wrap: break-word;
    padding: 0 3px;
}
.brand {
    width: 7%; 
}
.partName {
    width: 17.5%;
}
.fitment{
    width: 17.5%;
}
.price{
    width: 10%;
}
.statusUpdateContainer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 10%;
    height: 100%;
    /*margin-right: 3%;*/
    margin-bottom: 2%;
}

/*.userPartsList > .dashboardPart > .statusUpdateContainer */
.editPart{
    /*height: 13%;*/
   /* width: 80%;
    text-align: center;*/
    line-height: normal;
    font-size: 1.1rem;
    /*padding: 0.5rem;*/
}

.statusUpdateContainer h3 {
  position: absolute;
  height: 15%;
  width: 80vmin;
  bottom: 0%;
  right: 0%;
  line-height: normal;
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}

.alignMiddle {
    vertical-align: middle;
    line-height: normal;  
}




