.userPartsList {
    margin: .5% auto;
    width: 100%;
    height: 100%;
}

.userPartsList::-webkit-scrollbar {
    display: none;
}

.dashboardPart{
    display: inline-block; 
    position: relative;  
    vertical-align: middle;
    margin-top: 2%;
    text-align: left;
    width: 100%;
    /*height: 15vmin;*/
    line-height: 15vmin;
    box-sizing: border-box;
    background-color: white;
    /*margin: 1% auto;*/
    /*border-radius: 15px;*/
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    font-size: 0;
    padding: 0;
}

.dashboardPart:hover{    
    box-shadow: 1px 3px 3px #888888;
}
.dashboardPart > div{
    font-size: 1.8rem;
}
/*.dashboardPart .mainImage img{
    min-width: 50%;
    max-height: auto;
}*/

.listingColumns {
    height: 5vmin;
    width: 100%;
    margin-top: 3%;
    border-bottom: 2px solid #888888;
}
.listingColumns > div {
    font-size: 1.5vmin;
    font-weight: bold;
    line-height: 1.8vmin;
    display: inline-block;
    float: left;
}


.listingColumns .title-mainImage{
    margin: 0;
    width: 10%;
}
.listingColumns .title-listingId {
    width: 10%;
    vertical-align: middle;
    /*line-height: 15vmin;*/
}
.listingColumns .title-partNumber {
    width: 15%; 
}
.listingColumns .title-brand{
    width: 10%; 
}
.listingColumns .title-partName {
    width: 17.5%;
}
.listingColumns .title-fitment{
    width: 17.5%;
}
.listingColumns .title-price{
    /*float: right;*/
    width: 10%;
}
.listingColumns .title-status{
    /*float: right;*/
    width: 10%;
}
.userPartsList > .dashboardPart > div, .userPartsList > .dashboardPart > img {
    display: inline-block;
    text-align: center;
    /*height: 100%;*/
}
.dashboardPart .mainImage{
    margin: 0;
    width: 10%;
    height: 15vmin;
    height: auto;
    padding: 0;
    /*float: left;*/
}

.dashboardPart .listingId {
    width: 10%;
}
.dashboardPart .partNumber {
    float: none;
    width: 15%;      
}
.dashboardPart .brand{
    /*float: left;*/
    width: 10%; 
}
.dashboardPart .partName {
    /*float: left;*/
    width: 17.5%;
}
.dashboardPart .fitment{
    /*float: left;*/
    width: 17.5%;
}
.dashboardPart .price{
    /*float: right;*/
    width: 10%;
}
.userPartsList > .dashboardPart > .statusUpdateContainer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 10%;
    height: 100%;
    /*border: 1px solid red;*/
}

.userPartsList > .dashboardPart > .statusUpdateContainer .editPart{
    /*position: relative;*/
    /*bottom: 50%;*/
    height: 13%;
    width: 80%;
    text-align: center;
    line-height: normal;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.statusUpdateContainer div{
    float: right;
    bottom: 0%;
    right: 0%;
}
.statusUpdateContainer h3 {
  display: inline-block;
  bottom: 0%;
  right: 0%;
}

.alignMiddle {
    vertical-align: middle;
    line-height: normal;  
}


/*.userPartsList .category{
    float: left;
    display: inline-block;
    width: 10%;
}*/



