.userPartsList {
    margin: 1% auto;
    width: 100%;
    height: 100%;
}

.userPartsList::-webkit-scrollbar {
    display: none;
}

.dashboardPart{
    display: inline-block; 
    position: relative;  
    vertical-align: middle;
    margin-top: 2%;
    text-align: left;
    width: 99%;
    line-height: 15vmin;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(41,51,57,.7);
    font-size: 0;
    padding: 0;
    min-height: 120px;
    border: 1px solid black;
}

.dashboardPart:hover{    
    box-shadow: 1px 3px 3px #888888;
}

.listingColumns {
    height: 3rem;
    width: 99%;
    margin-top: 3vh;
    padding: 0 1px;
    box-sizing: border-box;
    border-bottom: 2px solid #888888;
}
 
.title-mainImage,
.title-listingId,
.title-partNumber,
.title-brand,
.title-partName,
.title-fitment,
.title-price,
.title-status {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
}

.title-mainImage{
    margin: 0;
    width: 10%;
}
.title-listingId {
    width: 10%;
}
.title-partNumber {
    width: 15%;
    padding: 0 5px;
}
.title-brand{
    width: 10%; 
}
.title-partName {
    width: 17.5%;
}
.title-fitment{
    width: 17.5%;
}
.title-price{
    width: 10%;
    text-align: right;
    padding-right: 8px;
}
.title-status{
    width: 10%;
}
.mainImage,
.listingId,
.partNumber, 
.brand, 
.partName, 
.fitment, 
.price, 
.statusUpdateContainer {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
}
.mainImage{
    margin: 0;
    max-height: 15vmin;
    width: 10%;
    height: auto;
    padding: 0;
    margin-left: 5px;
}

.listingId {
    width: 10%;
}
.partNumber {
    float: none;
    width: 15%; 
    word-wrap: break-word;
    padding: 0 3px;
}
.brand {
    width: 10%; 
}
.partName {
    width: 17.5%;
    padding-right: 5px;
}
.fitment{
    width: 17.5%;
    padding: 0 5px;
}
.price{
    width: 10%;
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}
.statusUpdateContainer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 10%;
    height: 90%;
}

.editPart{
    line-height: normal;
    font-size: 1.1rem;
}

.draftEditContainer {
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 5px;
}

.draftEditContainer h3 {
  position: absolute;
  bottom: 25px;
  right: 15px;
  line-height: normal;
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
  color: #d0451b;
}

.alignMiddle {
    vertical-align: middle;
    line-height: normal;  
}

.confirmButton, .cancelButton {
    position: absolute;
    bottom: 0;
    right: 50px;
    font-size: 0.8rem;
}

.cancelButton {
    right: 10px;
}

.confirmButton:hover, 
.cancelButton:hover {
  background-color: #d0451b;
}


