@media only screen and (min-width: 300px) {
    .dashboardHeader h2 {
        font-size: 1.8rem;
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 1rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 90%;
        font-size: 33%;
    }
    body .listingId{
        font-size: .6rem;
    }
    div.listingId.alignMiddle {
        display: none;
    }
    body .partNumber {
        font-size: .5rem;
    }
    .listingColumns .title-partNumber {
        width: 22%;
    }
    .dashboardPart .partNumber {
        width: 22%;
    }
    body .brand {
        font-size: .7rem;
    }
    .listingColumns .title-brand {
        width: 14%;
    }
    .dashboardPart .brand {
        width: 14%;
    }
    body .partName {
        font-size: .7rem;
    }
    .listingColumns .title-partName {
        width: 22%;
    }
    .dashboardPart .partName {
        width: 22%;
    }
    body .fitment {
        font-size: .7rem;
    }
    div.fitment.alignMiddle {
        display: none;
    }
    body .price {
        font-size: .7rem;
    }
    .listingColumns .title-price {
        width: 17%;
    }
    .dashboardPart .price {
        width: 17.5%;
    }
    body .statusUpdateDropdown select {
        font-size: 0.6rem;
    }
    div.title-listingId {
        display: none;
    }
    div.title-fitment {
        display: none;
    }
    .listingColumns .title-status {
        width: 14%;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 19vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .4rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 55%;
        font-size: 0.3rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: -16%;
    }
}

@media only screen and (min-width: 420px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 1rem);
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 85%;
        font-size: 40%;
    }
    body .listingId{
        font-size: .7rem;
    }
    div.listingId.alignMiddle {
        display: none;
    }
    body .partNumber {
        font-size: .7rem;
    }
    .listingColumns .title-partNumber {
        width: 22%;
    }
    .dashboardPart .partNumber {
        width: 22%;
    }
    body .brand {
        font-size: .7rem;
    }
    .listingColumns .title-brand {
        width: 14%;
    }
    .dashboardPart .brand {
        width: 14%;
    }
    body .partName {
        font-size: .7rem;
    }
    .listingColumns .title-partName {
        width: 22%;
    }
    .dashboardPart .partName {
        width: 22%;
    }
    body .fitment {
        font-size: .7rem;
    }
    div.fitment.alignMiddle {
        display: none;
    }
    body .price {
        font-size: .7rem;
    }
    .listingColumns .title-price {
        width: 17%;
    }
    .dashboardPart .price {
        width: 17.5%;
    }
    body .statusUpdateDropdown select {
        font-size: 0.8rem;
    }
    div.title-listingId {
        display: none;
    }
    div.title-fitment {
        display: none;
    }
    .listingColumns .title-status {
        width: 14%;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 21vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .6rem;
        margin: 0;
        text-align: left;    
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 55%;
        font-size: 0.4rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: -16%;
    }
}

@media only screen and (min-width: 500px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 1rem);
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 90%;
        font-size: 45%;
    }
    body .statusUpdateDropdown select {
        font-size: 0.8rem;
        width: 100%;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 19vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .6rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 55%;
        font-size: 0.5rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: -16%;
    }
}

@media only screen and (min-width: 520px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 1rem);
        line-height: calc(20px + 2vmin);
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 90%;
        font-size: 52%;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 19vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .6rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 55%;
        font-size: 0.5rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: -16%;
    }
}

@media only screen and (min-width: 700px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 1rem);
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 60%;
    }
    body .listingId{
        font-size: 1rem;
    }
    div.listingId.alignMiddle {
        display: none;
    }
    body .partNumber {
        font-size: 1rem;
    }
    .listingColumns .title-partNumber {
        width: 22%;
    }
    .dashboardPart .partNumber {
        width: 22%;
    }
    body .brand {
        font-size: 1rem;
    }
    .listingColumns .title-brand {
        width: 14%;
    }
    .dashboardPart .brand {
        width: 14%;
    }
    body .partName {
        font-size: 1rem;
    }
    .listingColumns .title-partName {
        width: 22%;
    }
    .dashboardPart .partName {
        width: 22%;
    }
    body .fitment {
        font-size: 1rem;
    }
    div.fitment.alignMiddle {
        display: none;
    }
    body .price {
        font-size: 1rem;
    }
    .listingColumns .title-price {
        width: 17%;
    }
    .dashboardPart .price {
        width: 17.5%;
    }
    body .statusUpdateDropdown select {
        font-size: 1.0rem;
        width: 100%;
    }
    div.title-listingId {
        display: none;
    }
    div.title-fitment {
        display: none;
    }
    .listingColumns .title-status {
        width: 14%;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 19vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .8rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 56%;
        font-size: 0.8rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: -16%;
    }
}

@media only screen and (min-width: 760px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 1rem);
        line-height: calc(20px + 2vmin);
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 60%;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 21vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .9rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 40%;
        font-size: 0.7rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: -2%;
    }
}

@media only screen and (min-width: 900px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 2rem);
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 88%;
    }
    body .listingId{
        font-size: 1rem;
    }
    div.listingId.alignMiddle {
        display: inline-block;
    }
    body .partNumber {
        font-size: 1rem;
    }
    .listingColumns .title-partNumber {
        width: 15%;
    }
    .dashboardPart .partNumber {
        width: 15%;
    }
    body .brand {
        font-size: 1rem;
    }
    .listingColumns .title-brand {
        width: 7%;
    }
    .dashboardPart .brand {
        width: 7.3%;
    }
    body .partName {
        font-size: 1rem;
    }
    .listingColumns .title-partName {
        width: 17%;
    }
    .dashboardPart .partName {
        width: 17.5%;
    }
    body .fitment {
        font-size: 1rem;
    }
    div.fitment.alignMiddle {
        display: inline-block;
    }
    body .price {
        font-size: 1rem;
    }
    .listingColumns .title-price {
        width: 10%;
    }
    .dashboardPart .price {
        width: 8.7%;
    }
    .listingColumns .title-status {
        width: 12%;
    }
    body .statusUpdateDropdown select {
        font-size: 1.0rem;
        width: 100%;
    }
    div.title-listingId {
        display: inline-block;
    }
    div.title-fitment {
        display: inline-block;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 22vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: 1rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 40%;
        font-size: 0.8rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: 5%;
    }
}

@media only screen and (min-width: 1030px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 2rem);
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 88%;
    }
    body .listingId{
        font-size: 1rem;
    }
    div.listingId.alignMiddle {
        display: inline-block;
    }
    body .partNumber {
        font-size: 1rem;
    }
    .listingColumns .title-partNumber {
        width: 15%;
    }
    .dashboardPart .partNumber {
        width: 15%;
    }
    body .brand {
        font-size: 1rem;
    }
    .listingColumns .title-brand {
        width: 7%;
    }
    .dashboardPart .brand {
        width: 7.3%;
    }
    body .partName {
        font-size: 1rem;
    }
    .listingColumns .title-partName {
        width: 17%;
    }
    .dashboardPart .partName {
        width: 17.5%;
    }
    body .fitment {
        font-size: 1rem;
    }
    div.fitment.alignMiddle {
        display: inline-block;
    }
    body .price {
        font-size: 1rem;
    }
    .listingColumns .title-price {
        width: 10%;
    }
    .dashboardPart .price {
        width: 8.7%;
    }
    .listingColumns .title-status {
        width: 12%;
    }
    body .statusUpdateDropdown select {
        font-size: 1.0rem;
        width: 100%;
    }
    div.title-listingId {
        display: inline-block;
    }
    div.title-fitment {
        display: inline-block;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 22vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: .8rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 40%;
        font-size: 0.8rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: 5%;
    }
}

@media only screen and (min-width: 1200px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 2rem);
        line-height: calc(20px + 2vmin);
    }
    .userDashboard .tabContent h2 {
        font-size: 2rem;
        text-transform: uppercase;
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 88%;
    }
    body .listingId{
        font-size: 1.3rem;
    }
    div.listingId.alignMiddle {
        display: inline-block;
    }
    body .partNumber {
        font-size: 1.3rem;
    }
    .listingColumns .title-partNumber {
        width: 15%;
    }
    .dashboardPart .partNumber {
        width: 15%;
    }
    body .brand {
        font-size: 1.3rem;
    }
    .listingColumns .title-brand {
        width: 7%;
    }
    .dashboardPart .brand {
        width: 7.3%;
    }
    body .partName {
        font-size: 1.3rem;
    }
    .listingColumns .title-partName {
        width: 17%;
    }
    .dashboardPart .partName {
        width: 17.5%;
    }
    body .fitment {
        font-size: 1.3rem;
    }
    div.fitment.alignMiddle {
        display: inline-block;
    }
    body .price {
        font-size: 1.3rem;
    }
    .listingColumns .title-price {
        width: 10%;
    }
    .dashboardPart .price {
        width: 8.7%;
    }
    .listingColumns .title-status {
        width: 12%;
    }
    body .statusUpdateDropdown select {
        font-size: 1.2rem;
        width: 100%;
    }
    div.title-listingId {
        display: inline-block;
    }
    div.title-fitment {
        display: inline-block;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 29vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: 1rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 40%;
        font-size: 1.1rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: 5%;
    }
}

@media only screen and (min-width: 1400px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 2rem);
        line-height: calc(20px + 2vmin);
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 88%;
    }
    body .listingId{
        font-size: 1.3rem;
    }
    div.listingId.alignMiddle {
        display: inline-block;
    }
    body .partNumber {
        font-size: 1.3rem;
    }
    .listingColumns .title-partNumber {
        width: 15%;
    }
    .dashboardPart .partNumber {
        width: 15%;
    }
    body .brand {
        font-size: 1.3rem;
    }
    .listingColumns .title-brand {
        width: 7%;
    }
    .dashboardPart .brand {
        width: 7.3%;
    }
    body .partName {
        font-size: 1.3rem;
    }
    .listingColumns .title-partName {
        width: 17%;
    }
    .dashboardPart .partName {
        width: 17.5%;
    }
    body .fitment {
        font-size: 1.3rem;
    }
    div.fitment.alignMiddle {
        display: inline-block;
    }
    body .price {
        font-size: 1.3rem;
    }
    .listingColumns .title-price {
        width: 10%;
    }
    .dashboardPart .price {
        width: 8.7%;
    }
    .listingColumns .title-status {
        width: 12%;
    }
    body .statusUpdateDropdown select {
        font-size: 1.2rem;
        width: 100%;
    }
    div.title-listingId {
        display: inline-block;
    }
    div.title-fitment {
        display: inline-block;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 30vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: 1.2rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 40%;
        font-size: 1.1rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: 5%;
    }
}

@media only screen and (min-width: 1580px) {
    .dashboardHeader h2 {
        font-size: calc(18px + 2rem);
        line-height: calc(20px + 2vmin);
    }
    .userPartsList > .dashboardPart > .statusUpdateContainer .editPart {
        width: 100%;
        font-size: 88%;
    }
    body .listingId{
        font-size: 1.8rem;
    }
    div.listingId.alignMiddle {
        display: inline-block;
    }
    body .partNumber {
        font-size: 1.6rem;
    }
    .listingColumns .title-partNumber {
        width: 15%;
    }
    .dashboardPart .partNumber {
        width: 15%;
    }
    body .brand {
        font-size: 1.3rem;
    }
    .listingColumns .title-brand {
        width: 7%;
    }
    .dashboardPart .brand {
        width: 7.3%;
    }
    body .partName {
        font-size: 1.3rem;
    }
    .listingColumns .title-partName {
        width: 17%;
    }
    .dashboardPart .partName {
        width: 17.5%;
    }
    body .fitment {
        font-size: 1.2rem;
    }
    div.fitment.alignMiddle {
        display: inline-block;
    }
    body .price {
        font-size: 1.4rem;
    }
    .listingColumns .title-price {
        width: 10%;
    }
    .dashboardPart .price {
        width: 8.7%;
    }
    .listingColumns .title-status {
        width: 12%;
    }
    body .statusUpdateDropdown select {
        font-size: 1.2rem;
        width: 100%;
    }
    div.title-listingId {
        display: inline-block;
    }
    div.title-fitment {
        display: inline-block;
    }
    .statusUpdateContainer h3 {
        position: absolute;
        height: 6%;
        width: 31vmin;
        bottom: 0%;
        right: 0%;
        line-height: normal;
        font-size: 1.2rem;
        margin: 0;
        text-align: left;
    }
    .confirmButton, .cancelButton {
        position: absolute;
        bottom: -8%;
        height: 23%;
        width: 40%;
        font-size: 1.2rem;
        text-align: center;
    }
    .confirmButton {
        background-color: rgb(0, 235, 0);
        right: 50%;
    }
    .cancelButton{
        background-color: rgb(255, 72, 72); 
        right: 5%;
    }
}