@media only screen and (min-width: 1920px) { 
    .inner-container {
        width: 35%;
    }
}

@media only screen and (max-width: 950px) { 
    .inner-container {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
	.inner-container {
        width: 65%;
    }
}

@media only screen and (max-width: 550px) {
    .inner-container {
        width: 70%;
    }
    .signUpFormErrorMessage {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 450px) {
	.inner-container {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {
	.inner-container {
        width: 90%;
    }
}