.productContainer{
    display: inline-block;
    width: 100%;
    height: 40%;
    font-size: 1.3em;
    margin-top: 5%;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
}

.productContainer a{
    margin-left: 10px;
    text-decoration:none;
}

.productDetailsContainer{
    display: inline-block;
    width: 55%;
    height: 80%;
    font-size: 2em;
    margin-top: 5%;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
    margin-right: 5%;
}

.productCart{
    display: inline-block;
    width: 70%;
    height: 100%;
    font-size: 1.3em;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
}

.productCart button{
    float: right;
}

.share{
    text-align: right;
    font-size: 0.75em;
    margin-bottom: 2%;
}

.share img{
    margin-left: 0.5%;
}

.productDetailsContainer h3{
    font-size: 2em;
}

.partNumber{
    float: right;
}

.productTitle{
    margin-top: 1px;
    margin-bottom: 1px;
}

.productPrice{
    color:darkblue;
    font-size: 1.5em;
}

.editable{
    background-color: lightblue;
    border-radius: 10px;
    padding: 0.3%;
}

.editMessage{
    float: right;
}

.addButton {
    float: right;
    width: 40%;
    text-align: center;
    font-size: 0.4em;
}

.editButton {
    float: right;
    width: 15%;
    text-align: center;
    font-size: 0.6em;
    margin-right: 1%;
}




