
.imageContainer{
    display: inline-block;    
    width: 100%;
    height: 60%;
    vertical-align: top;
    text-align: center;
}

.imageDetailsContainer{
    display: inline-block;
    width: 30%;
    height: 45%;
    vertical-align: top;
    text-align: center;
    margin: 5%;
}

.imageCartContainer{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
}

.imageList{    
    margin: 4% 0;
    width: 100%;
    height: 15%;
}

.imageList img{
    height: 100%;  
    margin: 0 .5%; 
    border: 1px solid;
    border-radius: 5px;
}

.mainImage{
    width: 95%;
    height: 100%;
    margin: auto;
}

.mainImage img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
