
.imageContainer{
    display: inline-block;    
    width: 16vw;
    height: 16vw;
    vertical-align: top;
    text-align: center;
}

.imageContainerFilter{
    width: 13vw;
    height: 13vw;
}

.imageDetailsContainer{
    display: inline-block;
    width: 21vw;
    height: 21vw;
    vertical-align: top;
    text-align: center;
    margin: 5%;
}

.imageCartContainer{
    display: inline-block;
    width: 7vw;
    height: 7vw;
    text-align: center;
}

.imageList{    
    margin: 4% 0;
}

.imageList img{
    height: 4vw;
    width: 4vw; 
    margin: 0 .5%; 
    border: 1px solid;
    border-radius: 5px;
}

.mainImage{
    width: 100%;
    height: 100%;
    margin: auto;
}

.mainImage img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
