.sellPartForm {
    margin: auto;
    width: 60%;

}

.sellPartForm label {
    display:block;
    font-size: 20px;
}

.sellPartForm div {
    margin: 10px 10px;
}

.sellPartForm input {
    width: 100%;
    font-size: 30px;
}

.sellPartForm .brand {
    display: inline-block;
    width: 20%;
}

.sellPartForm .partName {
    display: inline-block;
    width: 80%;
}

.sellPartForm .partNumber {
    display: inline-block;
    width: 25%;
}

.sellPartForm .price {
    display: inline-block;
    width: 15%;
}

.sellPartForm .conditionRating {
    display: inline-block;
    width: 50%;
}

.sellPartForm .conditionDetails {
    display: inline-block;
    width: 95%;
}

.sellPartForm .imageUpload {
    background-color: white;
    width: 50%;
    height: 50%;
}

.sellPartForm .part-details {
    width: 100%;
    margin: 30px 30px;
    background-color: rgb(209, 209, 209);
}

.sellPartForm .fitment {
    width: 100%;
    margin: 30px 30px;
    background-color: rgb(209, 209, 209);
}

.sellPartForm .part-condition {
    width: 100%;
    margin: 30px 30px;
    background-color: rgb(209, 209, 209);
}

.sellPartForm .location {
    width: 100%;
    margin: 30px 30px;
    background-color: rgb(209, 209, 209);
}

.sellPartForm .imageUpload {
    width: 100%;
    margin: 30px 30px;
    background-color: rgb(209, 209, 209);
}

.conditionDetails textarea {
    width: 100%;
    height: 100px;
}

.sellPartForm .brand {
    display: inline-block;
    width: 30%;
}

.sellPartForm .category {
    display: inline-block;
    width: 30%;
}


.sellPartForm .partYear {
    display: inline-block;
    width: 30%;
    background-color: rgb(209, 209, 209);
}

.sellPartForm .partMake {
    display: inline-block;
    width: 30%;
    background-color: rgb(209, 209, 209);
}

.sellPartForm .partModel {
    display: inline-block;
    width: 30%;
    background-color: rgb(209, 209, 209);
}