.sellPartForm {
    margin: 2% auto;
    width: 60%;
    height: 96%;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    background-color: white;
}

.sellPartForm::-webkit-scrollbar {
    display: none;
}

.sellPartForm label {
    display:block;
    font-size: 20px;
}

.sellPartForm div {
    margin: 10px 10px;
}

.sellPartForm select {
    width: 100%;
    padding: 2.5% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.4em;
}

.sellPartForm input {
    width: 100%;
    font-size: 30px;
}

.sellPartForm .brand {
    display: inline-block;
    width: 20%;
}

.sellPartForm .partName {
    display: inline-block;
    width: 75%;
}

.sellPartForm .partNumber {
    display: inline-block;
    width: 25%;
}

.sellPartForm .price {
    display: inline-block;
    width: 15%;
}

.sellPartForm .conditionRating {
    display: inline-block;
    width: 50%;
}

.sellPartForm .conditionDetails {
    display: inline-block;
    width: 90%;
}

.sellPartForm .imageUpload {
    width: 90%;
    height: 50%;
    margin: 30px 30px;
}

.sellPartForm .part-details {
    width: 100%;
   
}

.sellPartForm .fitment {
    width: 100%;
    margin: 30px 30px;
   
}

.sellPartForm .part-condition {
    width: 100%;
    margin: 30px 30px;
}

.sellPartForm .location {
    width: 100%;
    margin: 30px 30px;
}


.conditionDetails textarea {
    width: 100%;
    height: 100px;
}

.sellPartForm .brand {
    display: inline-block;
    width: 30%;
}

.sellPartForm .category {
    display: inline-block;
    width: 30%;
}


.sellPartForm .partYear {
    display: inline-block;
    width: 30%;
}

.sellPartForm .partMake {
    display: inline-block;
    width: 30%;
}

.sellPartForm .partModel {
    display: inline-block;
    width: 30%;
}

.buttonContainer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

button .postPart {
    color: red;
}

.sellPartForm .required {
    color: red;
}


/* IOS Toggle Icon */


.checkboxItem {
	position: relative;
	box-sizing: border-box;
	background: #ffffff;
}

.checkboxItem p {
	border-top: 1px solid #c8c7cc;
	margin: 0 0 0 8px;
	height: 44px;
	color: #000000;
	font-size: 15px;
	line-height: 44px;
}

.checkboxItem:nth-child(1) p {
	border: 0;
}


.checkboxItem input[type="checkbox"] {
	display: none;	
}

.toggleButton {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 9px;
	margin: auto;
	width: 51px;
	height: 31px;
}

.toggleButton label,
.toggleButton i {
	box-sizing: border-box;
	display: block;
	background: #ffffff;
}

.toggleButton label {
	width: 51px;
	height: 32px;
	border-radius: 32px; 
	border: 2px solid #e5e5e5;
	transition: all 0.30s ease;
}

.toggleButton i {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	border-radius: 28px;
	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
	background: #ffffff;
	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

.checkboxItem input[type="checkbox"]:active + .toggleButton i {
	width: 35px;
}

.checkboxItem input[type="checkbox"]:active + .toggleButton label,
.checkboxItem input[type="checkbox"]:checked + .toggleButton label {
	border: 16px solid #4cd964;
}

.checkboxItem input[type="checkbox"]:checked + .toggleButton i {
	left: 21px;
}

.checkboxItem input[type="checkbox"]:checked:active + .toggleButton label {
	border: 16px solid #e5e5e5;
}

.checkboxItem input[type="checkbox"]:checked:active + .toggleButton i {
	left: 14px;
}
