.startModal{
 
    z-index:15;
    width: 95%;
    margin: auto;
    height: 47%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -59%);
    background-color: rgba(192,192,192,0.97);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 5vh 0.1vh #cf866c;
    padding:3%;
    box-sizing:border-box;
    min-height: 300px;
}

.fadeOverlay{

    background-color: rgba(0,0,0,.65);
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100%;

}
 div.text{
    text-align: center;
   
 }
 .modalEscape{
    /* transform: rotate(45deg); */
    cursor: pointer;
    font-size: 5vh;
    text-align:right;
}
.hide{
    display:none;
}

.modalTitle{
    color:#bc3315;
}

.modalProceed{
    color:darkgreen;
}

.modalEscape:hover {
    background-color: lightslategray;
}

