.mainContainer {
    box-sizing: border-box;
}

.aboutUsContainer {
    width: 90vw;
    height: 90vmin;
    margin: 0 auto;
    box-sizing: border-box;
}

.images {
    box-sizing: border-box;
    height: 60vmin;
}

.person {
    box-sizing: border-box;
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    border: 1px solid black;
}

.person:hover .head {
    animation: bobble 0.45s infinite;
}

.infoContainer {
    height: 40vmin;
    box-sizing: border-box;
}

.infoContainer .users {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 3%;
}

.userHeadshot {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-top: 25%;
}

.userName {
    text-decoration: underline;
    height: 10%;
    text-align: center;
    font-size: 2em;
    margin-top: 10%;
}

.userRole {
    font-size: 1.5em;
    text-align: center;
}

.contactIcons {
    margin-top: 10%;
}

.contactIcons img {
    max-width: 40%;
}

.githubLink img {
    margin-left: 50%;
}

.githubLink {
    width: 50%;
    float: left;
}

.linkedInLink img {
    margin-left: 10%;
}

.linkedInLink {
    width: 50%;
}

@keyframes bobble {
    0% {transform: translate(6px, 10px) rotate(1deg);}
    25% {transform: translate(-1px, -2px) rotate(-2deg);}
    50% {transform: translate(-2px, -3px) rotate(-3deg);}
    75% {transform: translate(2px, 2px) rotate(-1deg);}
    100% {transform: translate(6px, 10px) rotate(1deg);}
}

.bobbleAnimation {
    animation: bobble .45s;
}

.bobbleBody1 {
    background-image: url('../../assets/images/bobble-bodies/partPigBobbleBody.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px dashed red;
}

.bobbleHead1 {
    content: url('../../assets/images/bobble-bodies/dave-head2.png');
}

.bobbleHead2 {
    content: url('../../assets/images/bobble-bodies/alex-head2.png');
}

.bobbleHead3 {
    content: url('../../assets/images/bobble-bodies/evan-head2.png');
}

.bobbleHead4 {
    content: url('../../assets/images/bobble-bodies/li-head2.png');
}

.bobbleHead5 {
    content: url('../../assets/images/bobble-bodies/brian-head2.png');
}

.head{
    position: absolute;
    bottom: 65%;
    width: 90%;
    margin: 0 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px dashed green;
}