html {
	font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    color: rgb(31, 31, 31);
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
	text-decoration: none;
}

body {
    position: relative;    
    width: 100%;
    margin: 0px;
    background-color:  whitesmoke;    
    min-height: 600px;
    min-width: 320px;
}

#root{
    width:100%;
}

.mainContainer {
    width: 100%;
	min-height: 100vh;
}

.container{
    width: 80%;
    height: 90%;  
    margin: auto;
	padding-top: 2%;
	min-height: 88vh;
}

.goBack{
    text-align: left;  
}

.button-link {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.button-link:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}

.disabled{
    -moz-box-shadow:inset 0px 1px 0px 0px darkgrey;
	-webkit-box-shadow:inset 0px 1px 0px 0px darkgrey;
	box-shadow:inset 0px 1px 0px 0px darkgrey;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid darkgrey;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;    
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
    text-shadow:0px 1px 0px darkgrey;
    background-color: gray;
    opacity: 0.7;
    cursor: default; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.6;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.6;
}
::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.6;
}
/*===================== header styling =========================*/
header {
    display: inline-block;
    color: rgb(238, 75, 0);
    width: 100%;
    height: 5vh;
    min-height: 50px;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    box-shadow: 0 1px 4px rgba(41, 51, 57, 0.397);
    font-size: 1.2em;
}

.logo-container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: rgb(238, 75, 0);
}

.mainLogo {
    height: 100%;    
    vertical-align: top;
}

.user-nav{
    width: 25%;
    display: inline-block;
    height: 99%;
    text-align: right;
}

.hamburger{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    text-align: right;
    /* font-size: 14px; */
}

.login-icon{
    position: relative;
    top: 10%;
    right: 2%;
    height: 80%;
}

.sellPartButton {
    border: none;
    text-align: center;
    text-decoration: none;
    /* font-size: 14px; */
    background-color: #d0451b;
    color: white;
    padding: 1%;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2% 2%;
    border: 2px solid #d0451b;
    vertical-align: top;
    position: relative;
    top: 33%;
    transform: translate(-50%,0);
}

.sellPartButton:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #d0451b;
}

.cartDivIcon{
    display: inline-block;
    vertical-align: top;
    height: 80%;
}

.cartDivIcon a{
    position: relative;
    text-decoration: none;
    top: 14%;
}

.cartIcon{   
    position: relative;
    top: 10%;
    height: 88%;
}

.cartCount{
    position: relative;
    top: -46%;
    right: 50%;
    /* font-size: 14px; */
    font-weight: bold;
    color: #bc3315;
}
/*==================== footer styling ===========================*/
footer {
    color: white;
    display: inline-block;
    width: 100%;
    height: 5vh;
    min-height: 50px;
    background-color: rgb(32, 32, 32);
}

.legal {
    position: relative;
    bottom: 0px;
    font-size: 11px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    margin-left: .5em;
    margin-right: .5em;
}
/*==================== contact page styling ===========================*/
.contact-us {
    margin: 2vh 0;
    min-height: 86vh;
}

.contact-us h1{
    text-align: center;
    font-weight: bold;
	font-size: 3rem;
    margin: 0;
}
.contactPageContainer{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    background-image:url("../../assets/images/contact_pig.jpg");
    background-size:cover;
    border: solid 3px black;
    height:80vh;
    margin-bottom: 2vh;
}
.contact-header {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin: 2%;
    text-align: center;
	box-sizing: border-box;
	color: #666666;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 2rem;
    height: 40%;
    text-shadow: 0.5px 0.5px black;
}
.contactForm{
	width: 50%;
	display: inline-block;
	font-size: 2rem;
	font-family: Verdana, Geneva, sans-serif;
}
.contactForm input, .contactForm textarea {
    display: inline-block;
    height: 4vmin;
    width: 80%;
    font-size: 1.6rem;
    margin: 0 10%;
    border-radius: 5px;
    padding: 1%;
    border-style: groove;
	font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}
.contactForm button{
	margin: 1% 0 0 10%;
	width: 80%;
	font-size: 2.2rem;
}
.contactForm input[type=text]:focus, .contactForm input[type=email]:focus, .contactForm textarea:focus{
    border: .2em solid #9C9D99;
    background-color: #FFF;
}
.contactForm textarea.message{
    height: 20vh;
    resize: none;
}
.input-container{
    width: 100%;
}
.input-container label{
	display: block;
    margin: 3% 0 1% 10%;
    font-size: 2rem;
}
.contact_image{
    border: solid black 5px;
    border-radius:5%;
    width: 60%;
}
.submitted{
    text-align:center;
    color:darkgreen;
    text-shadow: 0.5px 0.5px darkgrey;
}


/*==================== hamburger menu styling ===========================*/
 
 #menu a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
 }
 
 #menu a:hover {
    color: rgb(224, 34, 0);
 }
 
 #menuToggle {
    margin-top: 3%;
    margin-left: 3%;
    height: 100%;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
 }
 
 #menuToggle input {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */
    -webkit-touch-callout: none;
 }

 #menuToggle span {
    display: block;
    width: 32px;
    height: 6px;
    margin-bottom: 5px;
    position: relative;
    background:  rgb(206, 0, 17);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
    transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, 0px);
    background: rgb(206, 0, 17);
    width: 34px;
    z-index: 2;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    width: 2px;
    height: 1px;
    transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-1px, -1px);
 }
 
 #menu {
   position: absolute;
   width: 16%;
   margin: -5% 0 0 -5%;
   padding: 1%;
   padding-top: 4%;
   background: #ededed;
   list-style-type: none;
   z-index:1;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 2% 0;
   /* font-size: 14px; */
 }

#menuToggle input:checked ~ ul {
   transform: none;
}