html {
	font-size: 1vmin;
    font-family: Verdana, Geneva, sans-serif;
    color: rgb(31, 31, 31);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 94.1vh;    
}
a {
	text-decoration: none;
}

body {
    position: relative;    
    width: 100%;
    height: 100%;
    margin: 0px;
	/* padding-bottom: 10vh; */
	background-color:  whitesmoke;
}

#root{
    width:100%;
    /*height: 100%;*/
}

.mainContainer {
    width: 100%;
	/*height: 100%;*/
	min-height: 100vh;
}

.container{
    width: 80%;
    height: 90%;  
    margin: auto;
	padding-top: 4%;
	min-height: 82.5vh;
}

.container > a{
    position: absolute;
    top: 9.8%;
    left: 10%;
    text-decoration: none;
    font-size: 1.5em;
}

.button-link {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:0.75em;
	padding:0.5em 1em;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.button-link:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}

.disabled{
    -moz-box-shadow:inset 0px 1px 0px 0px darkgrey;
	-webkit-box-shadow:inset 0px 1px 0px 0px darkgrey;
	box-shadow:inset 0px 1px 0px 0px darkgrey;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid darkgrey;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;    
	font-size:0.75em;
	padding:0.5em 1em;
	text-decoration:none;
    text-shadow:0px 1px 0px darkgrey;
    background-color: gray;
    opacity: 0.7;
    cursor: default; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /*color: rgba(242, 130, 234, 0.6); /* Firefox */
    opacity: 0.6;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.6;
}
::-ms-input-placeholder { /* Microsoft Edge */
    /*color: rgba(242, 130, 234, 0.6);*/
    opacity: 0.6;
}