body {
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-columns: 2fr 6fr 2fr;
}

.login {
    vertical-align: middle;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgb(143, 143, 143);
}