html{
    font-size: 2vmin;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 0;
    width: 100vw;
    height: 100vh;
}

.mainContainer{
    width: 80%;
    height: 65%;
    margin: auto;
}

.imageContainer{
    position: relative;
    font-size: .75rem;
    display: inline-block;    
    width: 60%;
    height: 100%;
    vertical-align: top;
    text-align: center;

}

.imageContainer a{
    display: block;
    text-decoration:none;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 3%;
}

.imageList{    
    margin: 4% 0;
    width: 100%;
    height: 5%;
}

.imageList img{
    height: 100%;  
    margin: 0 .5%; 
    border: 1px solid;
    border-radius: 5px;
}

.mainImage{
    display: inline-block;
    width: 80%;
    top:10%;
    left:15%;
}

.mainImage img{
    width: 100%;
    height: 100%;
}

.productContainer{
    display: inline-block;
    width: 40%;
    height: 100%;
    font-size: 0.75rem;
    margin-top: 5%;
    padding: 1%;
    box-sizing: border-box;
}

.productContainer a{
    margin-left: 10px;
    text-decoration:none;
}

.productTitle{
    margin-top: 1px;
    margin-bottom: 1px;
}

.productPrice{
    color:darkblue;
    font-size: 1.5em;
}

button{
    padding: 2%;
}

.addButton button{
    width: 100%;
    margin-top: 10px;
}

.checkoutButton button{
    width: 100%;
}

.specifications{
    font-size: 0.75rem;
    width: 100%;
    margin: auto;
}

.specifications div{
    display: inline-block;
    margin-right: 2%;
    width: 30%
}