html {
	margin: 0;
	font-size: 4vmin;
}

.container {
	border: 1px solid green;
	height: 95vh;
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	grid-column-gap: 5%;
	grid-row-gap: 5%;
}

.resultBox{
	border: 1px solid blue;
}

.partImg {
	height: 70%;
	border: 1px dashed red;
	background-image: url('https://images.craigslist.org/00L0L_cBhtova0bFE_300x300.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.partDescription {
	height: 30%;
	background-color: rgb(66, 197, 244);
	font-size: 0.8rem;
}

