body {
    margin: 0px;
}
.gridContainer {
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(72, 173, 255);
}
.gridContainer > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}
.logo {
    grid-row: 8/17;
    grid-column: 2/8;
    border: 2px solid black;
    border-radius: 50%;
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    grid-row: 7/18;
    grid-column: 9/20;
    border: 2px solid black;
}
.inputField1{
    border: solid 2px;
    grid-row: 3/5;
    grid-column: 2/20;
}
.inputField2{
    border: solid 2px;
    grid-row: 7/9;
    grid-column: 2/20;
}
.inputField3{
    border: solid 2px;
    grid-row: 11/13;
    grid-column: 2/6;
}
.inputField4{
    border: solid 2px;
    grid-row: 11/13;
    grid-column: 8/20;
}
.searchButton{
    border: solid 2px;
    grid-row: 19/16;
    grid-column: 4/9;
}
.feelingLucky{
    border: solid 2px;
    grid-row: 19/16;
    grid-column: 12/19;
}
.header {
    border: 2px solid;
    grid-row: 1/3;
    grid-column: 1/21;
}
.headerLogo {
    border: 2px solid;
    height: 98%;
    width: 20%;
}