@media (min-height: 750px) {
    
    html{        
        font-size: 0.9vmin;
    }

    .container{
        font-size: 1.3em;
    }
}

@media (max-height: 950px) {
    
    html{        
        font-size: 1.1vmin;
    }
}

@media (max-height: 750px) {
    
    html{        
        font-size: 1.3vmin;
    }
}

@media (max-height: 550px) {
    
    html{        
        font-size: 1.7vmin;
    }
}

@media (min-width: 950px) {

    .container{
        font-size: .8em;
    }
    
    .filter{
        font-size: 1.4em;
    }
}

@media (min-width: 1850px) {
    
    .container{
        font-size: 1.2em;
    }

    
    .filter{
        font-size: 1.1em;
    }
}

@media (max-width: 1250px) {
    
    .singlePart{        
        width: 30%;
    }
    
    .imageContainer {
        width: 21vw;
        height: 21vw;
    }

    .imageContainerFilter {
        width: 18vw;
        height: 18vw;
    }

    .rs-container{
        margin-top: 35%;
    }
    
    .imageDetailsContainer {
        width: 26vw;
        height: 26vw;
    }
}

@media (max-width: 950px){

    .imageContainer {
        width: 34vw;
        height: 32vw;
    }

    .imageContainerFilter {
        width: 29vw;
        height: 27vw;
    }

    .filter{
        font-size: .9em;
    }

    .singlePart{        
        width: 47%;
    }

    .productContainer {
        height: 12vh;
    }

    .productDetailsContainer {
        font-size: 1em;
    }
    
}

@media (max-height: 950px) {
    
    .productContainer {
        height: 18vh;
    }
}

@media (max-width: 750px){
          
    html {
        font-size: 1.1vmin;
    }
    
    .imageContainer {
        width: 79vw;
        height: 65vw;
    }
    .singlePart{        
        width: 89%;
        margin: 5% auto;
        display: block;
    }

    .productContainer {
        height: 13.5vh;
        font-size: 1.5em;
    }

    .resultsBar > button{
        display: none;
    }

    .sorterContainer select {
        font-size: 0.8em;
    }
    
    .imageDetailsContainer {
        display: block;
        width: 80vw;
        height: 80vw;
        margin: 3% auto;
    }

    .mainImageDetails {
        display: inline-block;
        width: 74%;
        height: 85%;
        margin: auto;
    }

    .imageList {
        display: inline-block;
        width: 26%;
        vertical-align: top;
        text-align: right;
    }

    .imageList img {
        height: 13vw;
        width: 13vw;
        margin: 5% .5%;
    }

    .productDetailsContainer {
        width: 100%;
    }
    
    .filter{
        display: none;
    }

    .partListFilter {
        width: 100%;
        margin-left: 0;
    }

    .container{
        width: 95%;
    }

    .cartTotal {
        display: block; 
        width: 90%;
    }

    .cartPartsContainer {
        display: block;
        width: 90%;
    }

    .checkoutTotal {
        display: block;
        margin: 2% auto;
        width: 95%;
    }

    .formCheckoutContainer {
        display: block;
        width: 95%;
        margin: auto;
    }

    .imageCartContainer {
        width: 13vw;
        height: 13vw;
    }

    .outerDiv {
        width: 95%;
    }

    .sellPartContainer {     
        width: 95%;    
    } 

    .logo-container {
        width: 42%;
    }

    .user-nav {
        width: 33%;
    }

    .sellPartButton {
        display: none;
    }

    .productDetailsContainer {
        font-size: 1.5em;
    }
}

@media (max-width: 550px){
          
    html {
        font-size: 1.4vmin;
    }

    .sorterContainer {     
        width: 61%;
    }
    /* #menu {
        width: 19%;
    }

    #menuToggle input {
        width: 17px;
        height: 17px;
    }

    #menuToggle span {
        width: 15px;
        height: 3px;
        margin-bottom: 3px;
    }

    #menuToggle input:checked ~ span {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(3px, -2px);
    }

    #menuToggle input:checked ~ span {
        width: 10px;
    }
}
