/*@media only screen and (max-width: 1250px) {
	.legal {
		font-size: 1.2rem;
	}

}*/
@media only screen and (max-width: 950px) {
	.buttonsContainer select {
		font-size: 12px;
	}
}

@media screen and (max-width: 600px){
	.contactForm {
		width: 100%;
	}
    .contact-header {
        text-align: center;
        width: 100%;
    }
    .input-container {
    	width: 100%;
    }
    .input-container > input, .input-container > textarea  {
		width: 80%;
    }
    .contactForm > button{
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
	.buttonsContainer input,
	.buttonsContainer select,
	.dropZone p,
	.searchBarContainer input,
	.form-group label,
    .form-group input, 
    .form-group select,
	.instruction,
    .yearMakeModel select {
        font-size: 14px;
    }

    .buttonContainer button, .buttonsContainer a{
		font-size: 18px;
	}
	.legal {
		font-size: 11px;
	}	
	.cartCount {
		font-size: 14px;
	}
	#menu li {
		font-size: 14px;
	}	
	.user-nav {
		text-align: right;
	}

}
@media only screen and (max-width: 550px) {
    .buttonsContainer input,
	.dropZone p,
	.form-group label,
    .form-group input,    
    .form-group select, 
    .yearMakeModel select, 
	.buttonsContainer select {
        font-size: 12px;
    }
    .sellPartContainer .sellPartTitle {
		font-size: 24px;
	}
}
@media only screen and (max-width: 450px) {
	 .buttonsContainer input,
	.dropZone p,
	.form-group label,
    .form-group input,    
    .form-group select, 
    .yearMakeModel select,
    .buttonsContainer select {
        font-size: 11px;
    }
}
@media only screen and (max-width: 360px) {
	.outerDiv {
		width: 95%;
		margin: 0;
	}	
	.instruction {
		font-size: 11px;
	}	
	.buttonsContainer select,
	.legal {
		font-size: 9px;
	}	
	
	.resultsBar {
		font-size: 1em;
	}
}

@media only screen and (max-width: 320px) {
	.outerDiv {
		width: 84%;
		margin: 2px;
	}
	.login-icon {
		right: 12%;
	}
	.sellPartContainer {
		width: 86%;
		margin: 0 2px;
	}
}

