@media (max-width: 1250px) {
	.legal {
		font-size: 1.2rem;
	}

}
@media (max-width: 950px) {
	.legal {
		font-size: 1.4rem;
	}
}

@media (max-width: 768px) {
	.buttonsContainer input,
	.buttonsContainer select,
	.instruction,
	.dropZone p,
	.form-group label,
    .form-group input, 
    .form-group select, 
    .yearMakeModel select {
        font-size: 2.2rem;
    }
    .buttonContainer button, .buttonsContainer a{
		font-size: 3rem;
	}
	.legal {
		font-size: 1.7rem;
	}

}
@media (max-width: 550px) {
	.buttonsContainer input,
	.dropZone p,
	.form-group label,
    .form-group input,    
    .form-group select, 
    .yearMakeModel select {
        font-size: 3rem;
    }
	.buttonContainer button, .buttonsContainer a{
		font-size: 4rem;
	}	
	.instruction {
        font-size: 2.6rem;
    }
	.legal {
		font-size: 2.2rem;
	}
}

@media (max-width: 360px) {
	.buttonsContainer input,
	.buttonsContainer select,
	.dropZone p,
	.form-group label,
    .form-group input, 
    .form-group select, 
    .yearMakeModel select,
    .legal {
        font-size: 2.4rem;
    }
	.instruction {
		font-size: 3rem;
	}
	.outerDiv {
		width: 90%;
	}
}