@media only screen and (min-height: 768px) {
    
    .container{
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 950px) {

    .container{
        font-size: .8em;
    }
    
    .filter{
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 1850px) {

    .container{
        font-size: 1.2em;
    }
   
    .filter{
        font-size: 1.1em;
    }

    #menu {
        width: 13%;
    }
}

@media only screen and (max-width: 1650px) {
    
/*    html {
        font-size: .67vw;
    }*/
}

@media only screen and (max-width: 1450px) {
    
 /*   html {
        font-size: .7vw;
    }*/
}

@media only screen and (max-width: 1250px) {
    
 /*   html {
        font-size: .75vw;
    }*/

    .singlePart{        
        width: 30%;
    }
    
    .imageContainer {
        width: 21vw;
        height: 21vw;
    }

    .imageContainerFilter {
        width: 18vw;
        height: 18vw;
    }

    .rs-container{
        margin-top: 35%;
    }
    
    .imageDetailsContainer {
        width: 26vw;
        height: 26vw;
    }

    #menu {
        position: absolute;
        width: 20%;
    }
}

@media only screen and (max-width: 950px){
    
 /*   html {
        font-size: .77vw;
    }*/

    .imageContainer {
        width: 34vw;
        height: 32vw;
    }

    .imageContainerFilter {
        width: 29vw;
        height: 27vw;
    }

    .filter{
        font-size: .9em;
    }

    .singlePart{        
        width: 47%;
    }

    .productContainer {
        height: 12vh;
    }

    .productDetailsContainer {
        font-size: 1em;
    }
    
}

@media only screen and (max-height: 950px) {
    
    .productContainer {
        height: 18vh;
    }
}

@media only screen and (max-width: 768px){
          
/*    html {
        font-size: 0.85vw;
    }*/
    
    #menu {
        width: 29%;
        margin: -8% 0 0 -5%;
        padding-top: 7%;
        font-size: 1.2em;
    }

    .imageContainer {
        width: 79vw;
        height: 65vw;
    }
    .singlePart{        
        width: 89%;
        margin: 5% auto;
        display: block;
    }

    .productContainer {
        height: 13.5vh;
        font-size: 1.5em;
    }

    .resultsBar > button{
        display: none;
    }

    .sorterContainer select {
        font-size: 0.8em;
    }
    
    .imageDetailsContainer {
        display: block;
        width: 80vw;
        height: 80vw;
        margin: 3% auto;
    }

    .mainImageDetails {
        display: inline-block;
        width: 74%;
        height: 85%;
        margin: auto;
    }

    .imageList {
        display: inline-block;
        width: 26%;
        vertical-align: top;
        text-align: right;
    }

    .imageList img {
        height: 13vw;
        width: 13vw;
        margin: 5% .5%;
    }

    .productDetailsContainer {
        width: 100%;
    }
    
    .filter{
        display: none;
    }

    .partListFilter {
        width: 100%;
        margin-left: 0;
    }

    .container{
        width: 95%;
    }

    .cartTotal {
        display: block; 
        width: 90%;
    }

    .cartPartsContainer {
        display: block;
        width: 90%;
    }

    .checkoutTotal {
        display: block;
        margin: 2% auto;
        width: 95%;
    }

    .formCheckoutContainer {
        display: block;
        width: 95%;
        margin: auto;
    }

    .imageCartContainer {
        width: 13vw;
        height: 13vw;
    }

    .outerDiv {
        width: 95%;
    }

    .sellPartContainer {     
        width: 95%;    
    } 

    .logo-container {
        width: 42%;
    }

    .user-nav {
        width: 33%;
    }

    .sellPartButton {
        display: none;
    }

    .productDetailsContainer {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 550px){
          
/*    html {
        font-size: 0.9vw;
    }*/

    .sorterContainer {     
        width: 61%;
    }    
}
