.userDashboard{
    text-align: center;
    width: 100%;
    min-height: 86vmin;
    /*height: 100%;*/
}

.dashboardHeader{
    width: 100%;
    color: white;
    background-color: rgb(32, 32, 32);
    height: 5vmin;
    min-height: 40px;
    font-size: 2rem;
}

.dashboardHeader h2{
    font-size: calc(18px + 2rem);
    line-height: calc(20px + 2vmin);
}

.userPartsContainer{
    width: 80%;
    margin: .5% auto;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
}

.userPartsContainer::-webkit-scrollbar {
    display: none;
}

.dashboardTabs {
    width: 100%;
    height: calc(20px + 2vmin);
    min-height: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

.dashboardTabs .tabLinks {
    float: left;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0 1%;
    font-size: 2rem;
    height: calc(20px + 2vmin);
    min-height: 40px;
    line-height: calc(20px + 2vmin);
}

.dashboardTabs .tabLinks:hover {
    background-color: #ddd;
}
.tabLinks.selected {
    background-image: linear-gradient(to bottom, #ddd, #d0451b);
}

.userDashboard .tabContent {
    width: 100%;
    min-height: 72.5vh;
    /*padding: 6px 12px;*/
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}

#userParts{
    width: 100%;
    height: 100%;
}

.userDashboard .tabContent h2{
    font-size: 2rem;
    text-transform: uppercase;
}

/*=================================== user homepage styling ================================*/
.userDashboard {
    width: 100%;
}

.statContainer {
    width: 15%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 3%;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    font-size: 2em;
}

/*=================================== user draft styling ================================*/
button .editPart{
    display: inline-block;
    float: right;
}