.userPartsList {
    margin: 2% auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

.userPartsList::-webkit-scrollbar {
    display: none;
}

.userPartsList .singlePart{
    display: inline-block;    
    vertical-align: top;
    width: 80%;
    height: 10%;
    margin: 1.5%;
    margin-top: 2%;
    padding: 1%;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 2% auto;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
}

.userPartsList.singlePart:hover{    
    box-shadow: 5px 10px 18px #888888;
}

.userPartsList .singlePart img {
    float: left;
    display: inline-block;
    height: 100%;
}

.userPartsList .partNumber{
    float: right;
}

.userPartsList .productTitle{
    margin-top: 1px;
    margin-bottom: 1px;
}

.userPartsList .productPrice{
    color:darkblue;
    font-size: 1.5em;
}

.userPartsList .addButton {
    float: right;
    width: 40%;
    text-align: center;
    font-size: 0.4em;
}




