.userDashboard{
    text-align: center;
    width: 100%;
    margin: 2vh 0;
    min-height: 86vh;
}

.dashboardHeader{
    width: 100%;
    color: white;
    background-color: rgb(31, 31, 31);
    height: 40px;
}

.dashboardHeader h1{
    font-size: 30px;
    margin: 0 auto;
}

.dashboardTitle {
    margin-bottom: 20px;
}
.userPartsContainer{
    width: 80%;
    margin: .5% auto;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
}

.userPartsContainer::-webkit-scrollbar {
    display: none;
}

.dashboardTabs {
    width: 100%;
    height: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

.dashboardTabs .tabLinks {
    float: left;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0 1%;
    font-size: 1.5rem;
    line-height: 40px;
    height: 40px;
}

.dashboardTabs .tabLinks:hover {
    background-color: #ddd;
}
.tabLinks.selected {
    background-image: linear-gradient(to bottom, #ddd, #d0451b);
}

.userDashboard .tabContent {
    width: 90%;
    margin: 0 auto;
    min-height: 500px;
}

#userParts{
    width: 100%;
    height: 100%;
}

.userDashboard .tabContent h2{
    font-size: 1.8rem;
    margin: 0;
}

/*=================================== user homepage styling ================================*/
.userDashboard {
    width: 100%;
}

.statContainer {
    width: 45%;
    background-color: #fff;
    margin: 2% 10%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    font-size: 1.8rem;
}

.statContainer:hover {
    background-color: 
}

/*=================================== user draft styling ================================*/
.editPart{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}