.mainContainer {
    box-sizing: border-box;
}

.aboutUsContainer {
    width: 90vw;
    height: 85vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.images {
    box-sizing: border-box;
    height: 60%;
}

.images > div {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 20%;
}

.infoContainer {
    height: 40%;
    box-sizing: border-box;
}

.infoContainer .users {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 3%;
}

.userHeadshot {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-top: 25%;
}

.userName {
    text-decoration: underline;
    height: 10%;
    text-align: center;
    font-size: 2em;
    margin-top: 10%;
}

.userRole {
    font-size: 1.5em;
    text-align: center;
}

.contactIcons {
    margin-top: 10%;
}

.contactIcons img {
    max-width: 40%;
}

.githubLink img {
    margin-left: 50%;
}

.githubLink {
    width: 50%;
    float: left;
}

.linkedInLink img {
    margin-left: 10%;
}

.linkedInLink {
    width: 50%;
}

.bobbleBody1 > img {
    margin-left: 15%;
    margin-top: 30%;
    width: 70%;
}

/* @keyframes bobble {
    0% {transform: translate(6px, 10px) rotate(1deg);}
    25% {transform: translate(-1px, -2px) rotate(-2deg);}
    50% {transform: translate(-2px, -3px) rotate(-3deg);}
    75% {transform: translate(2px, 2px) rotate(-1deg);}
    100% {transform: translate(6px, 10px) rotate(1deg);}
} */

/* .person {
    border: 1px solid red;
    
} */

.bobbleBody1 {
    background-image: url('../../assets/images/bobble-bodies/partPigBobbleBody.png');
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 35%;
    margin-left: 25%;
}

.bobbleHead1 {
    content: url('../../assets/images/bobble-bodies/dave-head.png');
    width: 113%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -22%;
    animation: bobble .45s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 34%;
}

.bobbleHead2 {
    content: url('../../assets/images/bobble-bodies/alex-head.png');
    width: 97%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -14%;
    animation: bobble .45s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 19%;
}

.bobbleHead3 {
    content: url('../../assets/images/bobble-bodies/evan-head.png');
    width: 85%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -8%;
    animation: bobble .45s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 21%;
}

.bobbleHead4 {
    content: url('../../assets/images/bobble-bodies/li-head.png');
    width: 93%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -15%;
    animation: bobble .45s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 20%;
}

.bobbleHead5 {
    content: url('../../assets/images/bobble-bodies/brian-head.png');
    width: 96%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -17%;
    animation: bobble .45s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 21%;
}