.formCheckoutContainer{
    display: inline-block;
    width: 60%;
    margin: 0 1%;
    padding: 0 1%;
    box-sizing: border-box;
    font-size: 2em;
}

.formCheckoutContainer > span{
    font-size: 1.5em;
    font-weight: bold;
}

.formCheckoutContainer > hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.checkbox{
    margin-bottom: 2%;
}

.checkOutPart span{
    float: right;
}

.checkoutList{
    padding: 3%;
    margin-bottom: 15%
}

.checkoutList button{
    margin-top: 4%;
    float: right;
}

.checkoutList li{
    padding: 3%;
    list-style-type: none;
}

.checkoutList li:nth-child(odd) {
    background: #CCC
}

.checkoutTotal{
    display: inline-block;
    font-size: 2em;
    width: 35%;
    min-height: 70%;
    margin: 2% 1%;
    background-color: white;
    border: 1px solid;
    padding: 0;
    vertical-align: top;
}

.checkoutTotal > div:last-child{
    text-align: center;
    padding: 3%;
}

.checkoutTotal hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


.form-group{
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 1%;
    font-size: 1.8rem;
}

.form-group label{
    display: block;
}

.form-group input{
    font-size: 1.2em;
    width: 100%;
    padding: 1%;
}

.form-group select{
    font-size: 1.2em;
    width: 100%;
    padding: 2%;
}

.shippingAddress{
    width: 95%;
    margin: 4% auto;
}

.shippingAddress > span{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.shippingAddress > p{    
    font-size: 1.1em;
    margin-bottom: 10%;
}

.shippingAddress > p select{    
    font-size: 1.1em;
    margin-left: 5%;
}

.shippingAddress > hr{    
    border: 0;
    height: 2px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.form-control + .form-control-border {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #d0451b;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .form-control:focus + .form-control-border {
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .help-block {
    position: absolute;
    display: inline-block;
    padding: 0px 5px;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: -2px 0 0 10px;
    color: #fff;
    background: #ff4e4e;
  }
  
  .help-block:after {
    content: " ";
    position: absolute;
    left: 5px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ff4e4e;
    border-right: 10px solid transparent;
  }
  .help-block:empty {
    display: none;
  }

  .has-error .form-control + .form-control-border {
    background: #d0451b;
  }

  .textarea{  
    width: 100%;    
    resize:none;
    padding:1%;
    box-sizing:border-box;    
  }

  .orderCompleted{
    text-align: center;
    font-size: 1.7em;
    padding: 5%;
  }

  .orderCompleted a{
    margin-top: 2%;
  }

  .orderNumber{
      color: #d0451b;
  }