/* body {
    height: 100vh;
    width: 100vw;
    border: solid black 2px;
    margin: 0 auto;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    background-color: #616161;
} 

.header {
    height: 8vh;
    border: solid red 2px;
    font-size: 65px;
}*/

.outerDiv {
    border: solid black 1px;
    width: 63.4%;
    border-radius: 10px;
    margin-left: 16.5%;
    margin-top: 13%;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 3px 4px;
}

.outerDiv .dropdownMenu {
    border-radius: 10px;
    position: relative;
    height: 25vh;
    width: 62vw;
    background-color: rgb(255, 69, 69);
}

.buttonsContainer{
    position: relative;
    top: 40%;
    transform: translate(0,-50%);
    width: 100%;
    height: 30%;
}

.dropdownMenu .buttonsContainer select {
    width: 30%;
    height: 25%;
    margin: 1%;
    margin-top: 3%;
    background: #d4d4d4;
    font-size: 160%;
}

.searchBarContainer .searchButton {
    border-radius: 5px;
    background-color: rgb(101, 101, 101);
    box-shadow: 2px 2px;
    height: 25%;
    width: 17%;
}

.searchBarContainer .searchButton a {
    color: white;
    font-size: 130%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.alternateSearch {
    margin-top: 50px;
    display: inline-block;
    font-size: large;
    color: white;
    width: 60%;
}
