body {
    height: 100vh;
    width: 100vw;
    border: solid black 2px;
    margin: 0 auto;
    background-color: cadetblue;
}

.header {
    height: 8vh;
    border: solid red 2px;
    font-size: 65px;
    text-decoration: underline;
}

.dropdownContainer {
    height: 90vh;
    border: solid blue 2px;
}

.dropdownMenu {
    left: 17vw;
    position: relative;
    height: 40vh;
    width: 65vw;
    border: solid green 2px;
    background-color: #294e4c;
    margin-top: 15vh;
}

.buttonsContainer {
    display: table;
    table-layout: fixed;
    border: solid yellow 2px;
    height: 50%;
    width: 100%;
}

.buttonsContainer select {
    display: table-cell;
    text-align: center;
    width: 30%;
}

.searchBarContainer {
    width: 100%;
    height: 30%;
    border: solid red 2px;
}

.searchBarContainer a {
    text-decoration-color: aqua;
}