/* body {
    height: 100vh;
    width: 100vw;
    border: solid black 2px;
    margin: 0 auto;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    background-color: #616161;
} 

.header {
    height: 8vh;
    border: solid red 2px;
    font-size: 65px;
} */

.outerDiv {
    border: solid black 1px;
    width: 70%;
    height: 25%;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 23%;
    background-color: rgba(62, 62, 62, 0.25);
    box-shadow: 3px 4px;
    padding: 0.5%;
}

.outerDiv .dropdownMenu {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: #ff5346;
}

.buttonsContainer{
    width: 100%;
    height: 50%;
}

.buttonsContainer select {    
    width: 28.3%;
    height: 50%;
    margin: 2%;
    background: #d4d4d4;
    font-size: 2em;
}

.searchBarContainer .searchButton {    
    border-radius: 5px;
    background-color: rgb(111, 111, 111);
    box-shadow: 2px 2px;
    font-size: 2em;
    height: 23%;
    width: 20%;
    margin-left: 10%;
    margin-top: 1%;
}

.searchBarContainer a {
    padding: 5px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2vh;
    background-color: rgb(111, 111, 111);
    color: #000000;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 5px;
    display: inline-block;
    height: 15%;
    box-shadow: 2px 2px;
}

.searchBarContainer {
    height: 100%;
}

.searchBarContainer .searchName {
    margin-top: 1%;
    float: left;
    width: 47%;
    margin-left: 15%;
}

.searchName label input {
    font-size: 330%;
}