.homeMainContainer{
	position: relative;
	height: 90vh;
	width: 100%;
}

.scrollingBackground {
	position: relative;
	display: flex;
	height: 100%;
	overflow: hidden;
}
.scrollingImg{
	background-size: cover;
	background-repeat: no-repeat;
	height: 20vw;
	width: 100%;
	display: inline-block;
	background-position: top center;
	margin: 0;
	border-style: solid;
	border-width: medium;
	border-color: rgb(39, 39, 39);
	border-top: none;
	
}
.scrollingImgColumn{
	width: 100%;
}
.scrollingImgContainer{
	position: relative;
	height: 20vw;
	/* transition: bottom .1s; */

}
.shadow{
    position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(rgba(0,0,0,.8) 0%, rgba(0, 0, 0, 0.541) 50%, rgba(0, 0, 0, 0.712) 100%);;
}
#welcomeMessage{
	position: relative;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
	font-size: 00%;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 2px black	;
}
