header {
    display: table;
    color: rgb(238, 75, 0);
    width: 100%;
    height: 5%;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    box-shadow: 0 1px 4px rgba(41, 51, 57, 0.397)
}

.logo-container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    color: rgb(238, 75, 0);
}

.mainLogo {
    height: 50px;
}

.user-nav{
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    font-size: 2vh;
    height: 4vh;
    align-content: right;
}

.hamburger{
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    font-size: 2vh;
    height: 100%;
    text-align: right;
    
}

.login-icon{
    float: right;
    height: 90%;
    margin: .5em;
}

.sellPartButton {
    float: right;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.7em;
    background-color: #f44336;
    color: white;
    padding: 1%;
    height: 80%;
    border-radius: 5px;
    margin: 1%;
    padding: 3% 2%;
    border: 2px solid #f44336;
}

.sellPartButton:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.cartDivIcon{
    position: relative;
    top: 23%;
    right: -1%;
    float: right;
}

.cartIcon{   
    height: 4vmin;
}

.cartCount{
    position: absolute;
    top: -6%;
    right: 34%;
    font-size: 0.9em;
    font-weight: bold;
    color: #bc3315;
}