header {
    display: inline-block;
    color: rgb(238, 75, 0);
    width: 100%;
    height: 5vmin;
    min-height: 50px;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    box-shadow: 0 1px 4px rgba(41, 51, 57, 0.397);
}

.logo-container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 3vh;
    color: rgb(238, 75, 0);
}

.mainLogo {
    height: 100%;
}

.user-nav{
    width: 25%;
    display: inline-block;
    font-size: 2vh;
    height: 99%;
    text-align: right;
}

.hamburger{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    font-size: 2vmin;
    height: 100%;
    text-align: right;
    /*min-width: 240px;    */
}

.login-icon{
    position: relative;
    top: 10%;
    right: 2%;
    height: 80%;
}

.sellPartButton {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    background-color: #d0451b;
    color: white;
    padding: 1%;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2% 2%;
    border: 2px solid #d0451b;
    vertical-align: top;
    position: relative;
    top: 34%;
    transform: translate(0,-50%);
}

.sellPartButton:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #d0451b;
}

.cartDivIcon{
    display: inline-block;
    vertical-align: top;
    height: 80%;
}

.cartDivIcon a{
    position: relative;
    text-decoration: none;
    top: 14%;
}

.cartIcon{   
    position: relative;
    top: 10%;
    height: 88%;
}

.cartCount{
    position: relative;
    top: -46%;
    right: 50%;
    font-size: 1em;
    font-weight: bold;
    color: #bc3315;
}