footer {
    position: absolute;
    color: white;
    width: 100%;
    height: 10vh;
    background-color: rgb(44, 44, 44);
    bottom: 0;
}

.legal {
    position: relative;
    bottom: 0px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    margin-left: .5em;
    margin-right: .5em;
}
