footer {
    position: absolute;
    color: white;
    width: 100%;
    background-color: rgb(44, 44, 44);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.legal {
    position: relative;
    bottom: 0px;
    font-size: 1rem;
    color: white;
    text-align: center;
    position: relative;
}