.login-container {
    /*width: 70%;*/
    /*height: 75%;*/
    /*margin: auto;*/
    /*margin-top: 2%;*/
    /*padding: 1%;*/
    box-sizing: border-box;
    text-align: center;
    /*min-height: 86.2vh;*/
    margin: 2vh auto;
    width: 60vw;
    min-height: 86vh;
    /*background-color: white;*/
}
/*======================== login form styling =============================*/
.loginForm {
    width: 80%;
    height: 55%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    /*margin: 3%;*/
    padding: 0 4%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    /*font-size: 2em;*/
}

.loginTitle {
    font-size: 30px;
}

.loginForm label {
    float: left;
    font-size: 20px;
}

.loginForm input[type=text], .loginForm select, .loginForm input[type=password] {
    width: 100%;
    padding: 2% 2%;
    margin: 2% 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.loginForm input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 2% 2%;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.loginForm input[type=submit]:hover {
    background-color: #45a049;
}

.loginFormErrorMessage {
    color: #ff5555;
    text-decoration: underline;
    text-align: center;
    font-size: 1.5rem;
}