.loginForm {
    width: 40%;
    height: 55%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 3%;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    font-size: 2em;
}


.loginForm input[type=text], .loginForm select, .loginForm input[type=password] {
    width: 100%;
    padding: 2% 2%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginForm input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 2% 2%;
    margin-top: 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

.loginForm input[type=submit]:hover {
    background-color: #45a049;
}

.loginForm label {
    float: left;
}

.loginFormErrorMessage{
    background-color:lightcoral;

}