.userPartsList {
    margin: .5% auto;
    width: 100%;
    height: 100%;
}

.statusUpdateContainer {
    position: absolute;
    color: rgb(0, 0, 0);
    float: right;
    bottom: 0%;
    right: 0%;
    width: 40%;
}

.statusUpdateContainer div{
    float: right;
    bottom: 0%;
    right: 0%;
}

.statusUpdateContainer h3 {
  display: inline-block;
  bottom: 0%;
  right: 0%;
}

.userPartsList::-webkit-scrollbar {
    display: none;
}

.userPartsList .singlePart{
    position: relative;  
    vertical-align: middle;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    background-color: white;
    margin: 1% auto;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    font-size: 1.5em;
    padding: 0;
}

.userPartsList .singlePart:hover{    
    box-shadow: 1px 3px 3px #888888;
}
.listingColumns div {
    font-size: 1.5rem;
}

.mainImage .singlePart img{
    min-width: 50%;
    max-height: auto;
}

.userPartsList .listingColumns {
    height: 5vmin;
    width: 100%;
    border-bottom: 2px solid #888888;
}

.userPartsList .mainImage{
    margin: 0;
    width: 10%;
    height: 100%;
    float: left;
    display: inline-block;

}

.userPartsList .brand{
    float: left;
    display: inline-block;
    width: 10%;
}

.userPartsList .partName {
    float: left;
    display: inline-block;
    width: 20%;
}

.userPartsList .fitment{
    float: left;
    display: inline-block;
    width: 20%;
}

.userPartsList .category{
    float: left;
    display: inline-block;
    width: 10%;
}

.userPartsList .listingId {
    float: left;
    display: inline-block;
    width: 10%;
}

.userPartsList .partNumber {
    float: left;
    display: inline-block;
    width: 15%;
}

.userPartsList .price{
    float: right;
    display: inline-block;
    width: 10%;
}
