
.partResults > a{
    position: absolute;
    top: 1%;
    text-decoration: none;
    font-size: 1.5em;
}

.partList{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.partListFilter{
    width: 83%;
    margin-left: 2%;
}

.partList::-webkit-scrollbar {
    display: none;
}

.resultsBar{
    padding: 2.5% 2.5% 1% 2.5%;
    font-size: 1.5em;
}

.resultsBar button{
    margin-right: 2%;
}

.singlePart{
    display: inline-block;    
    vertical-align: top;
    width: 22%;
    height: 45%;
    margin-top: 2%;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    margin: 1.5%;
}

.singlePart:hover{    
    box-shadow: 5px 10px 18px #888888;
}